# Build artifacts
desktop/linux/remotecontrol-desktop
desktop/linux/*.o
desktop/windows/*.o
desktop/windows/*.exe
desktop/windows/dist/
desktop/windows/deps/
desktop/mac/*.o
desktop/mac/remotecontrol-desktop

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.symlinks/

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db
